PORT=YOUR_PORT_HERE
CORS_ORIGIN=YOUR_FRONTEND_URL_HERE
DATABASE_URL=YOUR_DATABASE_URL_HERE
BRAVE_API_KEY=YOUR_BRAVE_API_KEY_HERE
OLLAMA_URL=YOUR_OLLAMA_URL_HERE
OLLAMA_MODEL=YOUR_OLLAMA_MODEL_HERE
JWT_SECRET=YOUR_JWT_SECRET
JWT_ISSUER=localhost
JWT_AUDIENCE=localhost